<div class="row">
  <div class="col-md-4 mx-auto">
    <h2><%= t('profile') %></h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4 mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="row form-group">
      <div class="col-md-4">
        <%= f.label :name %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :name, autofocus: true,class: "form-control"  %>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <%= f.label :email %>        
      </div>
      <div class="col-md-8">
        <%= f.email_field :email,readonly: true,class: "form-control" %>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <%= f.label :avatar%>      
      </div>
      <div class="col-md-8">
        <% if resource.avatar&&resource.avatar.present? %>
          <%= image_tag resource.avatar%><br>
        <% else %>
          <%= image_tag "fallback/default.jpg"%><br>
        <% end %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4 mx-auto">
        <%= f.submit%>
      </div>
    </div>
    <% end %>
  </div>
</div>