<div class="row">
  <div class="col-md-4 mx-auto">
    <h2><%=t "changepassword"%></h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4 mx-auto">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <div class="row form-group">
      <div class="col-md-5">
        <%= f.label :password, t("new_password") %>
      </div>
      <div class="col-md-7">
        <%= f.password_field :password, autofocus: true, autocomplete: "off",class: "form-control" %>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-5">
        <%= f.label :password_confirmation, t("confirm_new_password") %>
      </div>
      <div class="col-md-7">
        <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
      </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6 mx-auto">
          <%= f.submit t("change_my_password") %>
        </div>
    </div>
    <% end %>
  </div>
</div>
<!--<%= render "devise/shared/links" %>-->