<div class="row">
  <div class="col-md-4 mx-auto">
    <h2><%=t "forgotpassword"%></h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4 mx-auto">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="row form-group">
	      <div class="col-md-3">
			    <%= f.label :email %>		    	
			  </div>
			  <div class="col-md-9">
			    <%= f.email_field :email, autofocus: true,class: "form-control" %>
			  </div>
			</div>
		  <div class="row form-group">
	      <div class="col-md-6 mx-auto">
		    	<%= f.submit t("sendmeresetmail") %>
		    </div>
		  </div>
		<% end %>
	</div>
</div>

<!--<%= render "devise/shared/links" %>-->
