<div id="comment_form" class="row well">
  <% if user_signed_in? %>
      <h4>
        <b>コメントしてください</b>
      </h4>
      <%= form_for Kuchikomi.new, remote: true do |f| %>
          <%= f.hidden_field :app_id, value: @app.id %>

          <div class="form-group " class="col-md-6 col-md-offset-3">
            <%= f.text_field :text, class: "form-control", placeholder: "コメントしてください" %>
            <div class="invalid-feedback" id="text_feedback"></div>
          </div>
          <div class="form-group">
            <%= f.submit :class => 'btn btn-success' %>
          </div>
      <% end %>
  <% end %>
</div>
<div class="row well">
  <div id="app_<%= @app.id %>_kuchikomis">
    <%= render @app.kuchikomis.order(created_at: :desc) %>
  </div>
</div>