<% error_attributes=@app.errors.keys%>
<% [:name,:maker,:store,:originid,:link,:category,:apptype].each do |attribute|%>
	$("form#new_app #<%=attribute%>_feedback").empty()
	$("form#new_app #app_<%=attribute%>").removeClass('is-invalid')
	<% if error_attributes.include? attribute %>
		$("form#new_app #app_<%=attribute%>").addClass('is-invalid')		
		<% @app.errors.full_messages_for(attribute).each do |msg| %>
			$("form#new_app #<%=attribute%>_feedback").append("<li><%=msg%></li>")
		<% end %>
	<% end %>				
<% end %>