<div class="row" style="border: #aaaaaa">
  <div class="col-6 col-md-2 sidebar-offcanvas ml-5" id="sidebar">
    <div id="type" style="display: none"><%=@type%></div>
    <div class="list-group">
      <%=text_field_tag :value,nil,placeholder: "検索",class: 'form-control'%>     
      <%=link_to 'アプリ',apps_path(type: 'name'),id: 'name',remote: true,class: 'list-group-item'%>
      <%=link_to 'カテゴリー',apps_path(type: 'category'),id: 'category',remote: true,class: 'list-group-item'%>
      <%=link_to 'メーカー',apps_path(type: 'maker'),id: 'maker',remote: true,class: 'list-group-item'%>
      <br>
      <br>
      <a id="top" class="btn btn-link" style="text-decoration: underline;">ランキング</a>      
    </div>
  </div>
  <div class="col-md-9" id="apps">
    <% @categories.each do |category|
      @ctg_apps = @apps.where(category_id: category.id).limit(6)
    %>
        <% if @ctg_apps.length > 0 %> <h3><%= category.name %></h3>

            <div class="row" style="background-color: #FAFAFA">
              <% @ctg_apps.each do |app| %>
                  <div class="card-deck col-md-2">
                    <div class="card" >
                      <%= image_tag app.picture.url, class: "card-img-top" %>
                      <div class="card-block">
                        <h4 class="card-title"><%= link_to app.name, app %></h4>
                        <span><%=star_rating_for app.reviews.average(:value)%></span>(<%= app.reviews.count %>)
                      </div>
                    </div>
                  </div>

              <% end %>
            </div>
            <div class="col-md-1 col-md-offset-11"><a href="#" class="btn btn-link" style="text-decoration: underline;">もっと見る</a></div>
        <% end %>
    <% end %>
  </div>
</div>