<div class="row">
	<div class="col-md-4 mx-auto">
		<h1><%=t 'views.app.new_app'%></h1>
	</div>
</div>
<br>
<div class="row">	
	<div class="col-md-4 mx-auto">
		<%=form_for @app do |f| %>
			<div class="row form-group">
				<div class="col-md-4">
					<%=f.label :name%>
				</div>
				<div class="col-md-8">
					<%=f.text_field :name,class: "form-control"%>
				</div>				
			</div>
			<div class="row form-group">
				<div class="col-md-4">
					<%=f.label :maker_id%>
				</div>
				<div class="col-md-8">
					<%=f.select :maker_id,Maker.all.map {|x| [x.name,x.id]},{},{class: "form-control"}%>
				</div>				
			</div>
			<div class="row form-group">
				<div class="col-md-4">
					<%=f.label :store_id%>
				</div>				
				<div class="col-md-8">
					<%=f.select :store_id,Store.all.map {|x| [x.name,x.id]},{},{class: "form-control"} %>		
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-4">
					<%=f.label :originid%>
				</div>				
				<div class="col-md-8">
					<%=f.text_field :originid,class: "form-control"%>					
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-4">
					<%=f.label :link%>
				</div>				
				<div class="col-md-8">
					<%=f.text_field :link,class: "form-control"%>					
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-4">
					<%=f.label :category%>
				</div>
				<div class="col-md-8">
					<%=f.text_field :category,class: "form-control"%>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-4">
					<%=f.label :app_type%>
				</div>
				<div class="col-md-8">
					<%=f.text_field :app_type,class: "form-control"%>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-4 mx-auto">
					<%=f.submit %>
				</div>						
			</div>
		<%end%>
	</div>
</div>