<div class="row">
	<div class="col-md-2 ml-auto">
		<% if user_signed_in?&&current_user==@app.user %>		
			<%= form_for @app,html: {id: 'update_app_picture'},remote: true do |f| %>					  
			  <label for="app_picture"><%=image_tag @app.picture,width: "100%"%></label>
	      <%= f.file_field :picture,style: "display:none"%>
	      <%= f.submit nil,style: "display:none",form: 'update_app_picture' %>
			<% end %>
		<% else %>
			<%=image_tag @app.picture,width: "100%"%>
		<% end %>
	</div>
	<div class="col-md-6">
		<h1><%=@app.name%></h1>
		<h3><%=t('views.app.by',maker: @app.maker.try(:name)||"メーカー名")%></h3>
		<%=star_rating_for @app.rating %>(<%=@app.reviews.count%>)
	</div>
	<div class="col-md-2 mr-auto">
		<%=link_to "ダウンロードページヘ",@app.link,target: "_blank",class: "btn btn-secondary"%>
	</div>
</div>

<div class="row">
	<div class="col-md-6 mx-auto">
		<button id="gaiyou_btn" class="btn btn-primary disabled">概要</button>
		<button id="review_btn" class="btn btn-primary">レビュー</button>
		<button id="kuchikomi_btn" class="btn btn-primary">コメント</button>
	</div>
</div>

<div class="row" id="gaiyou">
	<div class="col-md-6 ml-auto">		
		<div id="app_<%=@app.id%>_photos">
			<!--<%=render @app.photos%>-->
		</div>
		<img id="tmp_photo">
		<% if user_signed_in?&&current_user==@app.user %>
			<div class="col-md-3 mx-auto">
				<%=form_for Photo.new,html: {id: 'new_photo'},remote: true do |f|%>					
					<label for="photo_image"><%=image_tag "plus.png",width: "100%"%></label>
			    <%= f.file_field :image,style: "display:none"%> <br>
					<%= f.submit nil,style: "display:none"%>
				<% end %>
			</div>			
		<% end %>
	</div>
	<div class="col-md-3 mr-auto">
		<h4>アプリの情報</h4>
		<% if user_signed_in?&&current_user==@app.user %>		
			<%= form_for @app,html: {id: 'update_app_description'},remote: true do |f| %>			  
	      <%= f.text_area :description,rows: "10",readonly: true,class: "form-control"%>
	      <%= f.submit nil,style: "display:none",form: 'update_app_description' %>
			<% end %>
		<% else %>
			<%=text_area_tag nil,@app.description,rows: "10",class: "form-control",readonly: true%>
		<% end %>
	</div>
</div>

<div class="row" id="review" style="display: none;">
	<div class="col-md-6 ml-auto">
		<h4><b>ユーザレビュー</b></h4>
		<div id="app_<%=@app.id%>_reviews">
			<%=render @app.reviews.order(updated_at: :desc)%>
		</div>
	</div>
	<div class="col-md-4 mr-auto">
		<% if user_signed_in? %>
			<h4><b>このアプリケーションを評価</b></h4>
			<%=form_for Review.new,remote: true do |f| %>
				<%=f.hidden_field :app_id,value: @app.id%>
				<div class="form-group">
					<%=f.label :value%>
					<%=f.number_field :value,min: 1,max: 5,class: "form-control" %>				
					<div class="invalid-feedback" id="value_feedback"></div>
				</div>
				<div class="form-group">
					<%=f.label :text%>
					<%=f.text_area :text,rows: "10",class: "form-control"%>				
					<div class="invalid-feedback" id="text_feedback"></div>
				</div>
				<div class="form-group">
					<%=f.submit%>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div class="row" id="kuchikomi" style="display: none;">
	<div class="col-md-6 ml-auto">
		<h4><b>ユーザコメント</b></h4>
		<div id="app_<%=@app.id%>_kuchikomis">
			<%=render @app.kuchikomis%>
		</div>
	</div>
	<div class="col-md-3 mr-auto">		
		<% if user_signed_in? %>
			<h4><b>コメントしてください</b></h4>
			<%=form_for Kuchikomi.new,remote: true do |f| %>
				<%=f.hidden_field :app_id,value: @app.id%>
				
				<div class="form-group">
					<%=f.label :text%>
					<%=f.text_area :text,rows: "10",class: "form-control"%>				
					<div class="invalid-feedback" id="text_feedback"></div>
				</div>
				<div class="form-group">
					<%=f.submit%>
				</div>
			<% end %>
		<% end %>
	</div>
</div>