<div class="row">
	<div class="col-md-3">
		<% if user_signed_in?&&current_user==@app.user %>		
			<%= form_for @app,html: {id: 'update_app_picture'},remote: true do |f| %>					  
			  <label for="app_picture"><%=image_tag @app.picture,width: "100%"%></label>
	      <%= f.file_field :picture,style: "display:none"%>
	      <%= f.submit nil,style: "display:none",form: 'update_app_picture' %>
			<% end %>
		<% else %>
			<%=image_tag @app.picture,width: "100%"%>
		<% end %>
	</div>
	<div class="col-md-7">
		<%=@app.name%> <br>
		<%=@app.rating||"****"%>|<%=@app.maker.try(:name)||"メーカー名"%>|<%=@app.app_type||"タイプ"%> <br>
	</div>
	<div class="col-md-2">
		<%=link_to "ダウンロードページヘ",@app.link,target: "_blank",class: "btn btn-secondary"%>
	</div>
</div>

<div class="row">
	<div class="col-md-6 mx-auto">
		<button id="gaiyou_btn" class="btn btn-primary disabled">概要</button>
		<button id="review_btn" class="btn btn-primary">レビュー</button>
		<button id="kuchikomi_btn" class="btn btn-primary">コメント</button>
	</div>
</div>

<div class="row" id="gaiyou">
	<div class="col-md-8">
		デモの写真
		<div id="app_<%=@app.id%>_photos">
			<%=render @app.photos%>
		</div>
		<img id="tmp_photo">
		<% if user_signed_in?&&current_user==@app.user %>
			<div class="col-md-3 mx-auto">
				<%=form_for Photo.new,html: {id: 'new_photo'},remote: true do |f|%>					
					<label for="photo_image"><%=image_tag "plus.png",width: "100%"%></label>
			    <%= f.file_field :image,style: "display:none"%> <br>
					<%= f.submit nil,style: "display:none"%>
				<% end %>
			</div>			
		<% end %>
	</div>
	<div class="col-md-4">
		アプリの情報<br>
		<% if user_signed_in?&&current_user==@app.user %>		
			<%= form_for @app,html: {id: 'update_app_description'},remote: true do |f| %>			  
	      <%= f.text_area :description,:readonly => true,class: "form-control"%>
	      <%= f.submit nil,style: "display:none",form: 'update_app_description' %>
			<% end %>
		<% else %>
			<%=text_area_tag nil,@app.description,class: "form-control",readonly: true%>
		<% end %>
	</div>
</div>

<div class="row" id="review" style="display: none;">
	<div class="col-md-8">
		ユーザレビュー
		<div id="app_<%=@app.id%>_reviews">
			<%=render @app.reviews%>
		</div>
	</div>
	<div class="col-md-4">
		<% if user_signed_in? %>
			評価してください
			<%=form_for Review.new,remote: true do |f| %>
				<%=f.hidden_field :app_id,value: @app.id%>
				<div class="form-group">
					<%=f.label :value%>
					<%=f.number_field :value,type: "number",class: "form-control" %>				
					<div class="invalid-feedback" id="value_feedback"></div>
				</div>
				<div class="form-group">
					<%=f.label :text%>
					<%=f.text_area :text,class: "form-control"%>				
					<div class="invalid-feedback" id="text_feedback"></div>
				</div>
				<div class="form-group">
					<%=f.submit%>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div class="row" id="kuchikomi" style="display: none;">
	<div class="col-md-8">
		ユーザコメント
		<div id="app_<%=@app.id%>_kuchikomis">
			<%=render @app.kuchikomis%>
		</div>
	</div>
	<div class="col-md-4">		
		<% if user_signed_in? %>
			コメントしてください
			<%=form_for Kuchikomi.new,remote: true do |f| %>
				<%=f.hidden_field :app_id,value: @app.id%>
				
				<div class="form-group">
					<%=f.label :text%>
					<%=f.text_area :text,class: "form-control"%>				
					<div class="invalid-feedback" id="text_feedback"></div>
				</div>
				<div class="form-group">
					<%=f.submit%>
				</div>
			<% end %>
		<% end %>
	</div>
</div>