<% error_attributes=@review.errors.keys%>
<% [:value,:text].each do |attribute|%>
	$("form#new_review #<%=attribute%>_feedback").empty()
	$("form#new_review #review_<%=attribute%>").removeClass('is-invalid')
	<% if error_attributes.include? attribute %>
		$("form#new_review #review_<%=attribute%>").addClass('is-invalid')		
		<% @review.errors.full_messages_for(attribute).each do |msg| %>
			$("form#new_review #<%=attribute%>_feedback").append("<li><%=msg%></li>")
		<% end %>
	<% end %>				
<% end %>
