<nav class="navbar navbar-light" style="background: linear-gradient(to top left, #99ff99 , green); margin-bottom: 50px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" ><%=t 'websitename'%></span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%=link_to t('home'),root_path%></li>
      
      <li><%=link_to t("views.app.new_app"),new_app_path if user_signed_in? %></li>
      <li><%=link_to t("views.maker.maker_list"),makers_path if user_signed_in?&&current_user.admin? %></li>
      <li><%=link_to t("views.store.store_list"),stores_path if user_signed_in?&&current_user.admin? %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%=link_to t('profile'),edit_user_registration_path%></li>
        <li><%=link_to t("sign_out"),destroy_user_session_path,method: :delete,class: "glyphicon glyphicon-log-out"%></li>
      <% else %>
        <li><%=link_to t("sign_up"),new_user_registration_path,class: "glyphicon glyphicon-user"%></li>
        <li><%=link_to t("log_in"),new_user_session_path,class: "glyphicon glyphicon-log-in"%></li>
      <% end %>      
    </ul>
  </div>
</nav>