
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <%= link_to  root_path, class: "navbar-brand" do%>
          <%= image_tag 'logo.png', style: "max-width: 20%"%>
      <% end%>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span><%=image_tag current_user.avatar,size: "40x40",class: "avatar"%></span>
              <strong><%= current_user.name %></strong><span id="current_user_id" style="display: none"><%=current_user.id%></span>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <%=link_to t("新しいアプリ"),new_app_path,class: "nav-link glyphicon glyphicon-plus-sign" if user_signed_in? %>
              <%=link_to t('profile'),edit_user_registration_path,class: "nav-link fa fa-user dropdown-item" if user_signed_in? %>
            </li>
            <li class="nav-item">
              <%=link_to "アプリ一覧",app_list_path,class: "nav-link glyphicon glyphicon-list-alt" if user_signed_in?&&current_user.admin? %>
            </li>
            <li class="nav-item">
              <%=link_to t("views.maker.maker_list"),makers_path,class: "nav-link fa fa-window-restore dropdown-item" if user_signed_in?&&current_user.admin? %>
            </li>
            <li class="nav-item">
              <%=link_to t("views.store.store_list"),stores_path,class: "nav-link fa fa-cart-plus dropdown-item" if user_signed_in?&&current_user.admin? %>
            </li>
            <li class="nav-item">
              <%=link_to t("views.category.category_list"),categories_path,class: "nav-link" if user_signed_in?&&current_user.admin? %>
            </li>
            <li class="nav-item">
              <%=link_to t("views.apptype.apptype_list"),apptypes_path,class: "nav-link" if user_signed_in?&&current_user.admin? %>
            </li>
            <li class="nav-item">
              <%=link_to t("sign_up"),new_user_registration_path,class: "nav-link fa fa-user-plus dropdown-item" if !user_signed_in? %>
            </li>
            <li class="nav-item">
              <%=link_to t("log_in"),new_user_session_path,class: "nav-link fa fa-sign-in dropdown-item" if !user_signed_in? %>
            </li>
            <li class="nav-item">
              <%=link_to t("sign_out"),destroy_user_session_path,method: :delete,class: "nav-link fa fa-sign-out dropdown-item" if user_signed_in? %>
            </li>
          </ul>
        </li>
      <% else %>
      <li>
        <%=link_to t("sign_up"),new_user_registration_path,class: "nav-link fa fa-user-plus dropdown-item" %>
      </li>
      <li>
        <%=link_to t("log_in"),new_user_session_path,class: "nav-link fa fa-sign-in dropdown-item"  %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>