<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%=link_to t('home'),root_path%></li>
      
      <li><%=link_to "New app",new_app_path%></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%=link_to t('profile'),edit_user_registration_path%></li>
        <li><%=link_to t("sign_out"),destroy_user_session_path,method: :delete,class: "glyphicon glyphicon-log-out"%></li>
      <% else %>
        <li><%=link_to t("sign_up"),new_user_registration_path,class: "glyphicon glyphicon-user"%></li>
        <li><%=link_to t("log_in"),new_user_session_path,class: "glyphicon glyphicon-log-in"%></li>
      <% end %>      
    </ul>
  </div>
</nav>