<!DOCTYPE html>
<html>
  <head>
    <title><%=t('websitename')%></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css"> -->
  </head>

  <body>
    <%=render 'layouts/header'%>
    <% if notice %>
      <p class="notice alert alert-notice text-center" id="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-warning text-center" id="alert"><%= alert %></p>
    <% end %>
    <%= yield %>    	
  </body>
</html>
